//primary colors
$color-accent: rgb(3, 201, 136);
$color-dark-blue: rgb(19, 0, 90);
$color-light-blue: rgb(215, 227, 252);
$bg-color: rgb(236, 242, 255);

//secondary colors
$color-yellow-secondary: rgb(255, 145, 0);
$color-blue-secondary: rgb(107, 193, 255);
$color-pink-secondary: rgb(255, 101, 166);
$color-green-secondary: rgb(42, 157, 143);
$color-purple-secondary: rgb(116, 26, 254);
